#slider {
    width: 450px;
    height: 200px;
    overflow: hidden;
  }
  
  .slide {
    width: 250px;
    height: 250px;
    float: left;
    position: relative;
  }
  
  #slide-holder {
    width: 200%;
    position: relative;
    left: 0;
    -webkit-animation: scroller 10s infinite;
            animation: scroller 10s infinite;
  }
  
  @-webkit-keyframes scroller {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    33% {
      -webkit-transform: translateX(-400px);
              transform: translateX(-400px);
    }
    66% {
      -webkit-transform: translateX(-800px);
              transform: translateX(-800px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes scroller {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    33% {
      -webkit-transform: translateX(-400px);
              transform: translateX(-400px);
    }
    66% {
      -webkit-transform: translateX(-800px);
              transform: translateX(-800px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  body {
    font-family: sans-serif;
  }
  
  #slider {
    margin: 0 auto;
  }
  
  